.about-page {
    padding: 5rem 5rem;
    height: 70vh;
    background-image: url('./assets/about-black.png');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    display: flex;
}

.about-page h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
    line-height: 1.2;
    color: #fff;
}

.about-page h6 {
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #fff;
}

.about-page p {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    font-style: normal;
    font-weight: 300;
    padding-right: 15px;
    color: #fff;
}

.ab-left{
    float: left;
    width: 50%;
}

.ab-right{
    float: right;
    width: 50%;
    margin-top: -7rem;
}

/* .right-desc p {
    font-size: 1rem;
    font-weight: 300;
    padding-right: 0px;
} */
