.about-us {
    padding: 5rem 5rem;
    height: 100vh;
    background-image: url('./assets/about-bg.png');
}

.about-us h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
    line-height: 1.2;
    color: #1c1c1c;
}

.about-us h6 {
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #1c1c1c;
}

.about-us p {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    font-style: normal;
    font-weight: 300;
    padding-right: 15px;
    color: #1c1c1c;
}

.left-desc{
    float: left;
    width: 60%;
}

.right-desc{
    float: right;
    width: 40%;
    align-items: baseline;
    padding-top: 2.4rem;
}

.right-desc p {
    font-size: 1rem;
    font-weight: 300;
    padding-right: 0px;
}