.approach {
    padding: 5rem 5rem 5rem 0;
    height: 80vh;
    background-image: url('./assets/about-black.png');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

.approach h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
    line-height: 1.2;
    color: #000;
}

.approach h6 {
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #000;
}

.approach p {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    font-style: normal;
    font-weight: 300;
    padding-right: 15px;
    color: #000;
}

.app-left{
    float: left;
    width: 50%;
}

.app-right{
    float: right;
    width: 40%;
    align-content: flex-end;
}