.footer {
    padding: 5rem 5rem;
    background-color: #1c1c1c;
    height: 60vh;
    width: 100%;
    color: white;
}

.footer h6 {
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.footer p {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    font-style: normal;
    font-weight: 300;
    padding-right: 15px;
}

.footer-wrapper {
    display: flex;
    flex: 1;
}

.add-1 p {
    font-size: 0.9rem;
}

.add-2 p {
    font-size: 0.9rem;
}

.site-links p {
    font-size: 0.9rem;
}

.follow-us p {
    font-size: 0.9rem;
}

