.footer {
    padding: 5rem 5rem;
    background-color: #1c1c1c;
    height: 40vh;
    width: 100%;
    color: white;
}

.add1 {
    width: 25%;
}

.add1 p {
    font-size: 0.9rem;
}

.add2 {
    width: 25%;
}

.site-links {
    width: 25%;
}

.follow-us {
    width: 25%;
}