.footer {
    padding: 5rem 5rem;
    background-color: #1c1c1c;
    height: 60vh;
    width: 100%;
    color: white;
}

.footer h6 {
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.footer p {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    font-style: normal;
    font-weight: 300;
    padding-right: 15px;
}

.footer-wrapper {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
}

.add-1 p {
    font-size: 0.9rem;
}

.add-2 p {
    font-size: 0.9rem;
}

.call {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.site-links p {
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
}

.follow-us p {
    font-size: 0.9rem;
}

img.social {
    padding: 0.5rem 1rem 0.5rem 0;
}

img.call-icon {
    padding-right: 1.2rem;
}

.copyright {
    display: flex;
}

.copy-left {
    width: 50%;
}

.copy-right {
    width: 50%;
}