img {
    width: 80px;
    height: 80px;
}

.hero-container {
    background: #1c1c1c;
    height: 850px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
}