.industries {
    padding: 5rem 5rem;
    height: 100vh;
    background:#fff;
}

.industries h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
    line-height: 1.2;
    color: #000;
}

.industries h6 {
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #000;
}

.industries p {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    font-style: normal;
    font-weight: 300;
    padding-right: 15px;
    color: #000;
}

.retail {
    background-image: url('./assets/retail.png');
    width: 310px;
    height: 150px;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.health{
    background-image: url('./assets/healthcare.png');
    width: 310px;
    height: 150px;
    margin: 0.5rem;
}

.manufacture{
    background-image: url('./assets/manufacture.png');
    width: 310px;
    height: 150px;
    margin: 0.5rem;
}

.construction{
    background-image: url('./assets/construction.png');
    width: 310px;
    height: 150px;
    margin: 0.5rem;
}

.realestate{
    background-image: url('./assets/realestate.png');
    width: 310px;
    height: 150px;
    margin: 0.5rem;
}

.financial{
    background-image: url('./assets/finance.png');
    width: 310px;
    height: 150px;
    margin: 0.5rem;
}

.entertainment{
    background-image: url('./assets/entertainment.png');
    width: 310px;
    height: 150px;
    margin: 0.5rem;
}

.publicservice{
    background-image: url('./assets/public-service.png');
    width: 310px;
    height: 150px;
    margin: 0.5rem;
}

ul.row1-items {
    display: flex;
    flex-direction: row;
}

ul.row2-items {
    display: flex;
    flex-direction: row;
}