:root {
    --primary: #F04E31;
}

nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: #F04E31;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 50px;
  flex-wrap: wrap;
  z-index: -1;
}

