.our-projects {
    padding: 5rem 5rem;
    height: 500vh;
    background: #1c1c1c;
}

.our-projects h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
    line-height: 1.2;
    color: #fff;
}

.our-projects h6 {
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #fff;
}

.our-projects p {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    font-style: normal;
    font-weight: 300;
    padding-right: 15px;
    color: #fff;
}

.left-desc{
    float: left;
    width: 60%;
}

.right-desc{
    float: right;
    width: 40%;
    align-items: baseline;
}

.project-desc{
    font-size: 1rem;
    font-weight: 300;
}

.project-wrapper {
    display: flex;
    flex: 1;
    margin-top: 3.5rem;
    width: 100%;
}

.project-1 p {
    font-size: 0.9rem;
}

.project-2 p {
    font-size: 0.9rem;
}

.project-3 p {
    font-size: 0.9rem;
}

.project-4 p {
    font-size: 0.9rem;
}

.project-5 p {
    font-size: 0.9rem;
}

.project-6 p {
    font-size: 0.9rem;
}

