.our-services {
    padding: 5rem 5rem;
    height: 120vh;
    background-image: url('/public/bg-white-mainpage.png');
}

h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
    line-height: 1.2;
}

h6 {
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    font-style: normal;
    font-weight: 300;
}

.btn{
    margin-top: 1.2rem;
}

.service-wrapper {
    display: flex;
    flex: 1;
}

.service-1 {
    width: 310px;
    height: 105px;
}