.project {
    padding: 5rem 5rem;
    height: 520vh;
    background:#fff;
}

.project h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
    line-height: 1.2;
    color: #F04E31;
}

.project h6 {
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #000;
}

.project p {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    font-style: normal;
    font-weight: 300;
    padding-right: 15px;
    color: #000;
}

.pro-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

img.proimg{
    width: 270px;
}

ul.prorow1-items {
    display: flex;
    flex-direction: row;
}

ul.prorow2-items {
    display: flex;
    flex-direction: row;
}

ul.prorow3-items {
    display: flex;
    flex-direction: row;
}

ul.prorow4-items {
    display: flex;
    flex-direction: row;
}

ul.prorow5-items {
    display: flex;
    flex-direction: row;
}

ul.prorow6-items {
    display: flex;
    flex-direction: row;
}

ul.prorow7-items {
    display: flex;
    flex-direction: row;
}

.yourpro {
    height: 248.39px;
    width: 270px;
    background-image: url('./assets/pro-bg.png');
}