.request-quote {
    padding: 5rem 5rem;
    height: 70vh;
    background-image: url('./assets/bg\ red.png');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

.request-quote h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
    line-height: 1.2;
    color: #fff;
}

.request-quote h6 {
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #fff;
}

.request-quote p {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    font-style: normal;
    font-weight: 300;
    padding-right: 15px;
    color: #fff;
}

.left-about{
    float: left;
    width: 50%;
}

.right-about{
    float: right;
    width: 50%;
}

img .red-ball {
    height: 435px;
}

.right-desc p {
    font-size: 1rem;
    font-weight: 300;
    padding-right: 0px;
}

.btn--white:hover {
    color: #F04E31;
    background-color: #fff;
}