.servicepage {
    padding: 5rem 5rem;
    height: 400vh;
    background: #fff;
}

.servicepage h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
    line-height: 1.2;
}

.servicepage h6 {
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    font-style: normal;
    font-weight: 300;
    padding-right: 15px;
}

.servicepage-wrapper {
    display: flex;
    flex: 1;
    margin-top: 3.5rem;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.servicepage-1 p {
    font-size: 0.9rem;
}

.servicepage-2 p {
    font-size: 0.9rem;
}

.servicepage-3 p {
    font-size: 0.9rem;
}

.servicepage-4 p {
    font-size: 0.9rem;
}

img.serviceimg {
    width: 500px;
}