.portfolio {
    padding: 5rem 5rem;
    height: 80vh;
    background-image: url('./assets/about-white.png');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio h1 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    line-height: 1.2;
    color: #fff;    
    text-transform: uppercase;
    text-align: center;
}

.portfolio h6 {
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #fff;
}

.portfolio p {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    font-style: normal;
    font-weight: 300;
    padding-right: 15px;
    color: #fff;
}
